<main class="flex items-center justify-center relative p-25">
    <div
        class="max-[1225px]:absolute max-[1225px]:w-full max-[1225px]:h-full max-[1225px]:top-0 max-[1225px]:left-0 max-[1225px]:bg-white max-[1225px]:opacity-[0.80] max-[1225px]:z-40">
    </div>
    <div class="absolute w-fit left-15 top-20 z-30">
        <img src="assets/2.png" alt="1" class=" rotate-60  h-48 w-fit object-contain" />
    </div>
    <div class="flex flex-col justify-center items-center z-50">
        <h1 class=" text-2xl font-semibold text-center">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Veritatis,
            velit.
        </h1>
        <div class="relative w-full mt-5">
            <input type="search"
                class="relative top-0 left-0 max-[400px]:w-[15rem] w-full p-2 border-2 rounded-md border-gray-500"
                placeholder="EAN/ISBN eingeben" />
            <svg class="absolute top-0 right-3 top-[10px] text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M20.031 20.79c.46.46 1.17-.25.71-.7l-3.75-3.76a7.9 7.9 0 0 0 2.04-5.31c0-4.39-3.57-7.96-7.96-7.96s-7.96 3.57-7.96 7.96s3.57 7.96 7.96 7.96c1.98 0 3.81-.73 5.21-1.94zM4.11 11.02c0-3.84 3.13-6.96 6.96-6.96c3.84 0 6.96 3.12 6.96 6.96s-3.12 6.96-6.96 6.96c-3.83 0-6.96-3.12-6.96-6.96" />
            </svg>
        </div>
    </div>
    <div class="absolute w-fit right-15 top-20 z-30">
        <img src="assets/2.png" alt="1" class="rotate-250 h-48 w-fit object-contain" />
    </div>
</main>



<section class="flex flex-col justify-center mt-10 md:mt-20">
    <h2 class="capitalize text-xl font-semibold text-center">so einfach geth verkaufen</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 max-md:gap-5 px-20 text-center mt-10 w-full ">
        <div class="flex flex-col items-center justify-center ">
            <p class="rounded-full w-fit h-fit text-white text-2xl bg-cyan-800 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M20.031 20.79c.46.46 1.17-.25.71-.7l-3.75-3.76a7.9 7.9 0 0 0 2.04-5.31c0-4.39-3.57-7.96-7.96-7.96s-7.96 3.57-7.96 7.96s3.57 7.96 7.96 7.96c1.98 0 3.81-.73 5.21-1.94zM4.11 11.02c0-3.84 3.13-6.96 6.96-6.96c3.84 0 6.96 3.12 6.96 6.96s-3.12 6.96-6.96 6.96c-3.83 0-6.96-3.12-6.96-6.96" />
                </svg>
            </p>
            <h4 class="text-md font-semibold mt-3">1. dein angebot</h4>
            <p class="text-gray-500  ">Lorem ipsum dolor sit amet consectetur
                adipisicing
                elit. Qui,
                error.</p>
        </div>
        <div class="flex flex-col items-center justify-center">
            <p class="rounded-full w-fit h-fit text-white text-2xl bg-cyan-800 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 21 21">
                    <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1">
                        <path
                            d="m11.492 4.067l5 2.857A2 2 0 0 1 17.5 8.661v4.678a2 2 0 0 1-1.008 1.737l-5 2.857a2 2 0 0 1-1.984 0l-5-2.857A2 2 0 0 1 3.5 13.339V8.661a2 2 0 0 1 1.008-1.737l5-2.857a2 2 0 0 1 1.984 0M14 9.5l-7-4" />
                        <path d="m4 8l5.552 2.99a2 2 0 0 0 1.896 0L17 8m-6.5 3.5V18" />
                    </g>
                </svg>
            </p>
            <h4 class="text-md font-semibold mt-3">2. dein angebot</h4>
            <p class="text-gray-500  max-md:w-1/2 max-sm:w-full">Lorem ipsum dolor sit amet consectetur
                adipisicing
                elit. Qui, error.</p>
        </div>
        <div class="flex flex-col items-center justify-center">
            <p class="rounded-full w-fit h-fit text-white text-2xl bg-cyan-800 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-miterlimit="10"
                        stroke-width="1.5"
                        d="M5 9V6.8c0-.44.36-.8.8-.8h16.4c.44 0 .8.36.8.8v8.4c0 .44-.36.8-.8.8H20M2.8 9h16.4a.8.8 0 0 1 .8.8v8.4a.8.8 0 0 1-.8.8H2.8a.8.8 0 0 1-.8-.8V9.8a.8.8 0 0 1 .8-.8Zm9.2 5a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z" />
                </svg>
            </p>
            <h4 class="text-md font-semibold mt-3">3. dein angebot</h4>
            <p class="text-gray-500  max-md:w-1/2 max-sm:w-full">Lorem ipsum dolor sit amet consectetur
                adipisicing
                elit. Qui, error.</p>
        </div>
    </div>
</section>




<section class="flex flex-col gap-5 items-center justify-center sm:p-10 mt-20 mx-5 md-mx-0">
    <div class="flex gap-4 w-full md:w-1/2 rounded-md bg-gray-200 items-center justify-start p-2 sm:p-5">
        <p class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                <path fill="currentColor"
                    d="M222 128a6 6 0 0 1-6 6h-82v82a6 6 0 0 1-12 0v-82H40a6 6 0 0 1 0-12h82V40a6 6 0 0 1 12 0v82h82a6 6 0 0 1 6 6" />
            </svg>
        </p>
        <p class="capitalize font-semibold text-xs sm:text-lg">wie errechnet sich user Ankaufspreis?</p>
    </div>
    <div class="flex gap-4 w-full md:w-1/2 rounded-md bg-gray-200 items-center justify-start p-2 sm:p-5">
        <p class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                <path fill="currentColor"
                    d="M222 128a6 6 0 0 1-6 6h-82v82a6 6 0 0 1-12 0v-82H40a6 6 0 0 1 0-12h82V40a6 6 0 0 1 12 0v82h82a6 6 0 0 1 6 6" />
            </svg>
        </p>
        <p class="capitalize font-semibold text-xs sm:text-lg">wie errechnet sich user Ankaufspreis?</p>
    </div>
    <div class="flex gap-4 w-full md:w-1/2 rounded-md bg-gray-200 items-center justify-start p-2 sm:p-5">
        <p class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                <path fill="currentColor"
                    d="M222 128a6 6 0 0 1-6 6h-82v82a6 6 0 0 1-12 0v-82H40a6 6 0 0 1 0-12h82V40a6 6 0 0 1 12 0v82h82a6 6 0 0 1 6 6" />
            </svg>
        </p>
        <p class="capitalize font-semibold text-xs sm:text-lg">wie errechnet sich user Ankaufspreis?</p>
    </div>
    <div class="flex gap-4 w-full md:w-1/2 rounded-md bg-gray-200 items-center justify-start p-2 sm:p-5">
        <p class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                <path fill="currentColor"
                    d="M222 128a6 6 0 0 1-6 6h-82v82a6 6 0 0 1-12 0v-82H40a6 6 0 0 1 0-12h82V40a6 6 0 0 1 12 0v82h82a6 6 0 0 1 6 6" />
            </svg>
        </p>
        <p class="capitalize font-semibold text-xs sm:text-lg">wie errechnet sich user Ankaufspreis?</p>
    </div>
    <div class="flex gap-4 w-full md:w-1/2 rounded-md bg-gray-200 items-center justify-start p-2 sm:p-5">
        <p class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                <path fill="currentColor"
                    d="M222 128a6 6 0 0 1-6 6h-82v82a6 6 0 0 1-12 0v-82H40a6 6 0 0 1 0-12h82V40a6 6 0 0 1 12 0v82h82a6 6 0 0 1 6 6" />
            </svg>
        </p>
        <p class="capitalize font-semibold text-xs sm:text-lg">wie errechnet sich user Ankaufspreis?</p>
    </div>
    <div class="flex gap-4 w-full md:w-1/2 rounded-md bg-gray-200 items-center justify-start p-2 sm:p-5">
        <p class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                <path fill="currentColor"
                    d="M222 128a6 6 0 0 1-6 6h-82v82a6 6 0 0 1-12 0v-82H40a6 6 0 0 1 0-12h82V40a6 6 0 0 1 12 0v82h82a6 6 0 0 1 6 6" />
            </svg>
        </p>
        <p class="capitalize font-semibold text-xs sm:text-lg">wie errechnet sich user Ankaufspreis?</p>
    </div>
    <div class="flex gap-4 w-full md:w-1/2 rounded-md bg-gray-200 items-center justify-start p-2 sm:p-5">
        <p class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                <path fill="currentColor"
                    d="M222 128a6 6 0 0 1-6 6h-82v82a6 6 0 0 1-12 0v-82H40a6 6 0 0 1 0-12h82V40a6 6 0 0 1 12 0v82h82a6 6 0 0 1 6 6" />
            </svg>
        </p>
        <p class="capitalize font-semibold text-xs sm:text-lg">wie errechnet sich user Ankaufspreis?</p>
    </div>
</section>

<section class="mt-20 px-5 md:px-30">
    <h3 class="capitalize text-2xl font-semibold">Our Services</h3>
    <div class="flex flex-col gap-5 justify-center items-center mt-10">
        <div
            class="flex items-center justify-center gap-20 border border-gray-200 rounded-lg p-5 max-md:flex-col max-sm:w-full">
            <div class="flex gap-5 max-sm:flex-col ">
                <img src="assets/1.png" alt="2" class="w-52 h-52 object-contain" />
                <div class="flex flex-col items-start max-sm:items-center justify-center gap-3">
                    <h4 class="capitalize text-lg font-semibold">das ende der raslosigkeir</h4>
                    <p class="capitalize text-sm text-gray-500">author: john mark corner</p>
                    <p class="text-sm text-gray-500">ISBN: 9645789625</p>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-col items-center justify-center gap-5 p-5 rounded-lg shadow-2xl">
                    <h5 class="capitalize text-md text-center">user angebot</h5>
                    <p class="text-2xl font-semibold">7,15$</p>
                </div>
                <button class="rounded-full w-fit bg-yellow-500 px-5 py-1 capitalize mt-5">auz marktplze
                    loschen</button>
            </div>
        </div>

        <div
            class="flex items-center justify-center gap-20 border border-gray-200 rounded-lg p-5 max-md:flex-col max-sm:w-full">
            <div class="flex gap-5 max-sm:flex-col ">
                <img src="assets/1.png" alt="2" class="w-52 h-52 object-contain" />
                <div class="flex flex-col items-start max-sm:items-center justify-center gap-3">
                    <h4 class="capitalize text-lg font-semibold">das ende der raslosigkeir</h4>
                    <p class="capitalize text-sm text-gray-500">author: john mark corner</p>
                    <p class="text-sm text-gray-500">ISBN: 9645789625</p>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-col items-center justify-center gap-5 p-5 rounded-lg shadow-2xl">
                    <h5 class="capitalize text-md text-center">user angebot</h5>
                    <p class="text-2xl font-semibold">7,15$</p>
                </div>
                <button class="rounded-full w-fit bg-yellow-500 px-5 py-1 capitalize mt-5">auz marktplze
                    loschen</button>
            </div>
        </div>
        <div
            class="flex items-center justify-center gap-20 border border-gray-200 rounded-lg p-5 max-md:flex-col max-sm:w-full">
            <div class="flex gap-5 max-sm:flex-col ">
                <img src="assets/1.png" alt="2" class="w-52 h-52 object-contain" />
                <div class="flex flex-col items-start max-sm:items-center justify-center gap-3">
                    <h4 class="capitalize text-lg font-semibold">das ende der raslosigkeir</h4>
                    <p class="capitalize text-sm text-gray-500">author: john mark corner</p>
                    <p class="text-sm text-gray-500">ISBN: 9645789625</p>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex flex-col items-center justify-center gap-5 p-5 rounded-lg shadow-2xl">
                    <h5 class="capitalize text-md text-center">user angebot</h5>
                    <p class="text-2xl font-semibold">7,15$</p>
                </div>
                <button class="rounded-full w-fit bg-yellow-500 px-5 py-1 capitalize mt-5">auz marktplze
                    loschen</button>
            </div>
        </div>
    </div>
</section>



<section class="mt-20 px-5 md:px-30">
    <h2 class="capitalize text-2xl font-semibold">contact us</h2>
    <form class="flex flex-col gap-5 px-5 md:px-10 mt-10 w-full md:w-4/5">
        <input class="rounded-md border-2 border-gray-200 p-3" type="text" placeholder="First Name" />
        <input class="rounded-md border-2 border-gray-200 p-3" type="text" placeholder="Last Name" />
        <input class="rounded-md border-2 border-gray-200 p-3" type="email" placeholder="Email" />
        <input class="rounded-md border-2 border-gray-200 p-3" type="number" placeholder="Mobile no/" />
        <button class="px-5 py-2 rounded-full bg-cyan-800 text-white w-fit ml-auto" type="button">Submit</button>
    </form>
</section>