/* Remove clear icon in Chrome, Safari, Edge, and Opera */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* Remove clear icon in Firefox */
input[type="search"] {
    appearance: none;
    -moz-appearance: textfield;
}

/* Remove clear icon in Edge */
input[type="search"]::-ms-clear {
    display: none;
}

html[dir="rtl"] .searchIcon {
    left: 10px;
}

html[dir="ltr"] .searchIcon {
    right: 0;
}

html[dir="rtl"] .accordion-button::after {
    margin-right: auto;
    margin-left: 0;
}

html[dir="ltr"] .accordion-button::after {
    margin-left: auto;
}

.sold_color {
    background-color: #00B050;
    border-color: #00B050;
}

.sold_color:hover {
    background-color: #00B050;
    border-color: #00B050;
}

.deleted_color {
    background-color: #FF0000;
    border-color: #FF0000;
}


.deleted_color:hover {
    background-color: #FF0000;
    border-color: #FF0000;
}

.marketplace_color {
    background-color: #F6B735;
    border-color: #F6B735;
}

.marketplace_color:hover {
    background-color: #F6B735;
    border-color: #F6B735;
}